h1{
    color: bisque
}
.header{
    background-color: powderblue  ;
display:flex ;
justify-content : space-between;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.menu a{
    display :flex;
    justify-content: space-between;
    background-color:#808080;
    padding :15px;
    font-family: algerian;
    color: #ffffff;
    margin: 0px;
}



